.bill-container {
  grid-row: 1/4;
  display: grid;
  gap: 1.5rem;
  & > button {
    background: linear-gradient(to top, var(--color-first), transparent);
    box-shadow: 0px 0px 5px white;
    font-weight: 900;
    font-size: inherit;
    width: clamp(8rem, 20svw - 1rem, 12rem);
  }
}
.btn-container {
  width: 100%;
  button {
    width: 50%;
  }
}

.dish-container .drink-container {
  display: grid;
  width: 100%;
  place-items: center;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

[class$="-item"] {
  & > h3 {
    text-align: center;
    outline: 1px solid white;
    width: 80%;
    place-self: center;
  }
  & > h4 {
    font-size: clamp(0.8rem, 8svw - 1rem, 1.5rem);
  }
}
