@import "./variable.css";
.details-container {
  display: grid;
  border-radius: 10px;
  position: relative;
  width: 80% !important;
  min-height: 80%;
  grid-row: 1/4;
  gap: calc(var(--gap) - 0.5rem);
  z-index: 10;
  padding-block: 1rem;
  box-shadow: 0px 0px 20px var(--white);

  &::before {
    content: "";
    inset: 0;
    outline: 1px solid var(--white);
    background-color: rgba(255, 255, 255, 0.322);
    filter: blur(10px) drop-shadow(0px 0px var(--black));
    position: absolute;
    z-index: -1;
    border-radius: inherit;
  }
  img {
    width: clamp(15rem, 100%, 30svw);
    aspect-ratio: 3/2;
    border-radius: 20px;
  }
  ul {
    place-items: center;
    list-style-type: "- ";
    list-style-position: inside;
    gap: 0;
    & > li {
      place-self: start;
    }
  }
  button {
    width: clamp(8rem, 10svw - 1rem, 12rem);
    background-color: var(--color-second);
    font-size: clamp(1rem, 5svw, 1.5rem);
    font-weight: 700;
  }
}

[class*="wrapper-"] {
  width: 75%;
  text-wrap: wrap;
  font-size: clamp(0.8rem, 5svw - 0.8rem, 1.5rem);
  & > h3 {
    font-size: clamp(1.2rem, 5svw - 0.2rem, 2rem);
  }
}

.allergen-container {
  width: 50% !important;
  grid-template-columns: 1fr 1fr;
  & > h3 {
    grid-column: 1/3;
    font-size: clamp(1.2rem, 5svw - 0.2rem, 2rem);
  }
  & > li {
    width: 100%;
    font-size: clamp(1rem, 5svw - 0.2rem, 1.5rem);
    font-weight: 800;
  }
}
