form {
  grid-row: 3;
  width: 80%;
  height: 70%;
  display: grid;
  place-items: center;
  & > h1 {
    font-size: clamp(var(--min-font-size), 10svw - 1rem, 2rem);
  }
  & > label {
    padding: 1rem;
    font-size: clamp(0.8rem, 5svw - 1rem, 1.5rem);
    display: inherit;
    gap: 2rem;
    & > h2 {
      transition: color 0.2s ease;
    }
    &:has(input:focus) {
      & > h2 {
        color: white;
      }
    }
    & > input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      font-size: inherit;
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

.buttons-container {
  button {
    background: linear-gradient(to top, var(--color-second), transparent);
    box-shadow: 0px 0px 5px white;
    width: 35%;
    font-size: inherit;
    font-weight: 900;
  }
}
